body {
	margin: 0;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 7em;
	font-family: "Lobster", cursive;
	margin-top: 30px;
}
.logo h1 {
	font-size: 40px;
	color: #000f2c;
}
.logo h1 span {
	font-size: 28px;
}
.menu {
	list-style: none;
	display: flex;
	align-items: center;
}
.menu li {
	margin: 0 20px;
}
.menu li a {
	color: #000f2c;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	display: flex;
}
.menu li a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000f2c;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease;
}
.menu li a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.menu span {
	padding: 12px 40px;
	color: white;
	font-size: 18px;
	background-color: #000f2c;
	border-radius: 30px;
	margin-left: 35em;
}
.menu span a {
	text-decoration: none;
	color: white;
}
.menu span:hover {
	color: rgb(29, 28, 28);
	transition: all 0.4s;
	background-color: #042942e3;
}
.home .content {
	margin: 40px 13em;
	display: flex;
	justify-content: space-between;
}

.home .part1 {
	flex: 1;
	padding: 30px;
}

.home .part1 h4 {
	margin-bottom: 10px;
	width: 10em;
	padding: 15px;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	border-radius: 10px;
	background-color: #01133638;
}
.home .part1 p {
	border-top: 2px solid rgb(218, 218, 218);
	margin-top: 380px;
	padding-top: 30px;
	color: #5c5c5c;
	width: 32em;
}
.home .part1 ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	margin-top: 15px;
	margin-left: 3em;
	z-index: 5;
}
.home .part1 ul li {
	font-size: 80px;
	font-weight: 600;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	background-color: white;
	border-radius: 25px;
	padding-left: 30px;
	padding: 8px 30px;
	z-index: 5;
}

.home .part1 button {
	display: flex;
	align-items: center;
	border: none;
	cursor: pointer;
	background-color: #000f2c;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	width: 17em;
	padding: 0 10px;
}
.home .part1 a {
	text-decoration: none;
}
.home .part1 button p {
	margin: 0;
	padding: 0;
	border: none;
	color: white;
}
.home .part2 {
	flex: 1;
	margin-top: -2em;
	display: flex;
	align-items: center;
}
.home .column1 {
	margin-right: 4em;
}
.home .column2 {
	margin-top: 10em;
}
.home .column1,
.home .column2 {
	position: relative;
	width: 430px;
	height: 580px;
	border-radius: 50px;
	overflow: hidden;
}
.home .column1::before,
.home .column2::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
	z-index: 1;
}
.home .column1 img,
.home .column2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50px;
	z-index: 2;
}
.home .top {
	display: flex;
	align-items: center;
}
.home .circle {
	margin-right: 10px;
}
.home .circle svg {
	height: 50px;
	width: 50px;
}
.home .circle circle {
	fill: transparent;
	stroke: #000f2c;
	stroke-width: 2;
}
.home .circle line {
	stroke: #000f2c;
	stroke-width: 2;
}
/* Additional styling for your needs */

.profile-page {
	background-color: #1d252c;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.profile-card {
	position: relative;
	text-align: center;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image {
	width: 250px;
	height: 250px;
	background-color: #ccc;
	border: 10px rgb(61, 61, 61) solid;
	border-radius: 50%;
	margin: 0 auto 20px;
}

.profile-name {
	margin: 0;
	color: #ffffff;
	font-size: 45px;
}

.profile-email {
	margin: 0;
	color: #ffffff;
	font-size: 26px;
}

.logout-button {
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	background-color: #df554b;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

.logout-button:hover {
	background-color: #d32f2f;
}
.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10em;
	margin-top: 12em;
}

.home .services .title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	font-size: 35px;
}
.home .services .title h4 {
	font-weight: 100;
}
.home .services .title h3 {
	margin: 0;
	margin-left: 8em;
	font-weight: 100;
	font-size: 27px;
}
.home .services .title span {
	display: flex;
	align-items: center;
	font-size: 22px;
	background-color: #fff;
	padding: 15px 50px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home .lists {
	margin-top: 4em;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
}
.home .mapped {
	background-color: #fff;
	margin-right: 50px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 50px 55px;
	border-radius: 20px;
	text-align: center;
}
.home .mapped h2 {
	font-weight: 100;
	font-size: 22px;
}
.home .mapped span {
	font-size: 40px;
	color: gray;
}
.home .services .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15em;
}
.home .services .content h2 {
	font-size: 40px;
	margin: 0;
}
.home .services .content p {
	text-align: center;
	font-size: 18px;
	color: grey;
}
.home .about {
	display: flex;
	justify-content: space-around;
	margin-left: 15em;
	margin-top: 10em;
}
.home .about h1 {
	font: 400 40px Orelega One, sans-serif;
	margin-bottom: 2em;
}
.home .about h1::before,
.home .about h1::after {
	content: "";
	display: inline-block;
	width: 100px;
	height: 2px;
	background-color: #b1b1b1;
	vertical-align: middle;
}
.home .about h1::before {
	margin-right: 20px;
}
.home .about h1::after {
	margin-left: 20px;
}
.home .about .col {
	position: relative;
	width: 35em;
	height: 10em;
}
.home .about .img-container {
	position: relative;
	width: 100%;
	margin-left: 5em;
}
.home .about .img-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 60px;
}
.home .about .img-container img {
	width: 35em;
	height: 27em;
	border-radius: 60px;
	display: block;
}
.home .about .col p {
	position: absolute;
	right: -150px;
	bottom: -26em;
	z-index: 5;
	text-align: center;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 28px 55px;
	font-size: 18px;
}
.home .about .lists {
	width: 50%;
	margin-top: 8em;
}
.home .about .map {
	display: flex;
	align-items: center;
	margin-left: 6em;
}
.home .about .map span {
	font-size: 40px;
	margin-right: 10px;
}
.home .about .detail {
	flex: 1;
}
.footer {
	padding: 60px 20px;
	padding-bottom: 0;
	border-top: #c5c5c5 solid 1px;
	margin: 10px 10em;
	margin-top: 20em;
}
.footerContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.footerSection1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.footerLogo img {
	width: 100px;
}
.footerlinks {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}
.footerlinks span {
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 5px 12px;
	padding-top: 10px;
	font-size: 30px;
	border-radius: 50%;
}
.footermenu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 70px;
}
.footermenu li {
	font-weight: bold;
}
.footermenu li a {
	color: #000f2c;
	text-decoration: none;
	font-size: 20px;
	font-weight: 100;
	position: relative;
	display: flex;
}

.footermenu li a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000f2c;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease;
}

.footermenu li a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.footerSection2 {
	display: flex;
	color: #888;
	margin-top: 10px;
}
.footerSection2 .columns .col1 {
	display: flex;
	margin-right: 50px;
	font-size: 18px;
	padding: 8px 15px;
	flex-direction: column;
}
.footerText {
	margin-top: 70px;
	margin-left: 38em;
	color: #888;
}

/* ////////////////// about page /////////////// */

.about-page {
	background-color: #fff;
	display: flex;
	padding-bottom: 8px;
	flex-direction: column;
	align-items: center;
}
.about-page .title {
	width: auto;
	color: #000;
	font: 400 80px Orelega One, sans-serif;
}

.about-page .goal {
	color: #000;
	margin-top: 123px;
	text-align: center;
	font: 400 35px Orelega One, sans-serif;
}

.about-page .goal p {
	color: #828282;
	text-align: center;
	margin-top: 64px;
	width: 60em;
	font: 500 18px Abhaya Libre Medium, -apple-system, Roboto, Helvetica,
		sans-serif;
}
.about-page .part-three {
	margin: 8em 0 0 16em;
}
.about-page .part-three h2 {
	color: #000;
	margin-top: 236px;
	font: 400 45px Orelega One, sans-serif;
}
.about-page .part-three .process-details {
	margin-top: 49px;
	display: flex;
}
.about-page .column1 {
	display: flex;
	flex-direction: column;
	line-height: normal;
	width: 40%;
	font-size: 20px;
	color: #828282;
	margin-left: 0px;
}
.about-page .column2 {
	display: flex;
	margin-left: 4em;
	margin-top: -2.5em;
	flex-direction: column;
	width: 30%;
	border-radius: 30px;
	background: linear-gradient(170deg, #afafaf, #ffffff);
	text-align: center;
	padding: 70px 40px;
	font-size: 35px;
}
.about-page .column2 .layer {
	width: 70%;
	margin-left: 1em;
	background-color: #d6d5d5e3;
	padding: 20px;
	border-radius: 30px;
}
.about-page .column2 h2 {
	margin: 10px;
	color: rgb(29, 29, 29);
}
.about-page .column2 h3 {
	color: rgb(29, 29, 29);
	margin-top: 0;
	font: 400 35px Orelega One, sans-serif;
}
.about-page .footer {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.about-page .footermenu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 70px;
}
.about-page .footermenu li {
	font-weight: bold;
}
.about-page .footermenu li a {
	color: #000f2c;
	text-decoration: none;
	font-size: 20px;
	font-weight: 100;
	position: relative;
	display: flex;
}

.about-page .footermenu li a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000f2c;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease;
}

.about-page .footermenu li a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.about-page .footer-text {
	margin-top: 70px;
	color: grey;
}

/* ////////////////// service page /////////////// */
.service {
	background-color: #fff;
	display: flex;
	padding-bottom: 8px;
	flex-direction: column;
	align-items: center;
}
.service .title {
	width: 10em;
	margin: 2em 0 0 1em;
	text-align: center;
	color: #000;
	font: 400 80px Orelega One, sans-serif;
}
.service h4 {
	margin: 6em 0 0 0;
	text-align: center;
	color: #000;
	font: 400 50px Orelega One, sans-serif;
}
.service .part-two {
	margin-top: 5em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 80px;
}
.service .part-two .cols {
	text-align: center;
	padding: 10px;
	margin-bottom: -45px;
	color: rgb(95, 95, 95);
}
.service .part-two .cols span {
	font-size: 40px;
	color: grey;
}
.service .part-two .cols span::before,
.service .part-two .cols span::after {
	content: "";
	display: inline-block;
	width: 100px;
	height: 2px;
	background-color: #d3d3d3;
	vertical-align: middle;
	margin-bottom: 20px;
}
.service .part-two .cols span::before {
	margin-right: 20px;
}
.service .part-two .cols span::after {
	margin-left: 20px;
}
.service .part-two .cols p {
	width: 20em;
}
.service .part-three .title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	margin-top: 5em;
	font-size: 35px;
}
.service .part-three .title h5 {
	font-weight: 100;
	font-size: 1.3em;
}
.service .part-three .title h3 {
	margin: 0;
	margin-left: 8em;
	font-weight: 100;
	font-size: 27px;
}
.service .part-three .title span {
	display: flex;
	align-items: center;
	font-size: 20px;
	background-color: #fff;
	padding: 15px 50px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.service .part-three .lists {
	margin-top: 4em;
	margin-left: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
}
.service .part-three .mapped {
	background-color: #fff;
	margin-right: 50px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 80px 45px;
	border-radius: 20px;
	text-align: center;
}
.service .part-three .mapped h2 {
	font-size: 22px;
}
.service .part-three .mapped p {
	width: 12em;
	text-align: center;
}
.service .part-three .mapped span {
	font-size: 40px;
	color: gray;
	margin-top: 10em;
}
.service .part-four {
	margin: 4em 0 0 3em;
}
.service .part-four h2 {
	color: #000;
	margin-top: 236px;
	text-align: center;
	font: 400 45px Orelega One, sans-serif;
}
.service .part-four .process-details {
	margin-top: 5em;
	display: flex;
	margin-left: 13em;
}
.service .column1 {
	display: flex;
	flex-direction: column;
	line-height: normal;
	width: 35%;
	font-size: 20px;
	color: #828282;
	margin-left: 0px;
}
.service .column2 {
	display: flex;
	margin-left: 4em;
	flex-direction: column;
	width: 30%;
	border-radius: 30px;
	background: linear-gradient(170deg, #afafaf, #ffffff);
	text-align: center;
	padding: 70px 40px;
	font-size: 35px;
}
.service .column2 .layer {
	width: 70%;
	margin-left: 1em;
	background-color: #d6d5d5e3;
	padding: 20px;
	border-radius: 30px;
}
.service .column2 h2 {
	margin: 10px;
	color: rgb(29, 29, 29);
}
.service .column2 h3 {
	color: rgb(29, 29, 29);
	margin-top: 0;
	font: 400 35px Orelega One, sans-serif;
}
.service .footer {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.service .footermenu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 70px;
}
.service .footermenu li {
	font-weight: bold;
}
.service .footermenu li a {
	color: #000f2c;
	text-decoration: none;
	font-size: 20px;
	font-weight: 100;
	position: relative;
	display: flex;
}

.service .footermenu li a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000f2c;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease;
}

.service .footermenu li a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.service .footer-text {
	margin-top: 70px;
	color: grey;
}

/* //////////////////   Sign in page /////////////////////// */
.signin-page {
	display: flex;
	height: 80vh;
	margin: 70px 200px;
	background-color: #000;
}
.signin-page .image-cont {
	width: 68%;
	position: relative;
	overflow: hidden;
}
.signin-page .image-cont::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.signin-page .image-cont img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.signin-page .image-cont h1 {
	position: absolute;
	top: 1.2em;
	left: 1em;
	width: 5em;
	font: 400 100px Orelega One, sans-serif;
	color: white;
}
.signin-page .fields {
	color: white;
	position: absolute;
	top: 5em;
	left: 70%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	padding: 15px;
	padding-left: 7em;
	margin: 40px 0;
	width: 37%;
	height: 65%;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: #ffffff3b;
}
.signin-page .fields h2 {
	font-size: 62px;
	margin-bottom: 10px;
}
.signin-page .fields h3 {
	font-size: 18px;
	color: #ffffff;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 100;
	margin-bottom: 20px;
}
.signin-page .fields h4 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 100;
}
.signin-page .inputs {
	display: flex;
	flex-direction: column;
	margin-left: 4em;
	width: 45%;
}
.signin-page .fields input {
	width: 100%;
	font-size: 16px;
	padding: 14px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin-left: 10px;
	border-radius: 5px;
}
.signin-page .fields button {
	background-color: #011b33;
	color: white;
	padding: 15px 10px;
	font-size: 18px;
	border: none;
	margin-top: 4em;
	border-radius: 5px;
	cursor: pointer;
}
.signin-page .fields span {
	margin-top: 20px;
	font-size: 16px;
}
.signin-page .fields span a {
	color: #3498db;
	text-decoration: none;
}

/* //////////////////  Sign up page /////////////////////// */
.signup-page {
	display: flex;
	height: 80vh;
	margin: 70px 200px;
	background-color: #000;
}
.signup-page .image-cont {
	width: 68%;
	position: relative;
	overflow: hidden;
}
.signup-page .image-cont::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.signup-page .image-cont img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.signup-page .image-cont h1 {
	position: absolute;
	top: 1.2em;
	left: 1em;
	width: 5em;
	font: 400 100px Orelega One, sans-serif;
	color: white;
}
.signup-page .fields {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	padding: 20px;
	padding-left: 60px;
	width: 37.5%;
}
.signup-page .fields h2 {
	font-size: 62px;
	margin: 0;
	margin-bottom: 10px;
}
.signup-page .fields h3 {
	font-size: 18px;
	color: #ffffff;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 100;
	margin-bottom: 3em;
}
.signup-page .fields h4 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 100;
}
.signup-page .inputs {
	display: flex;
	flex-direction: column;
	margin-left: 4em;
	width: 55%;
}
.signup-page .fields input {
	width: 100%;
	font-size: 16px;
	padding: 12px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-left: 10px;
}
.signup-page .fields button {
	background-color: #011b33;
	color: white;
	padding: 15px 10px;
	font-size: 18px;
	border: none;
	margin-top: 5em;
	border-radius: 5px;
	cursor: pointer;
}

/* //////////////   welcome page  ///////////// */
.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 65vh;
	text-align: center;
	margin: 0 38em;
	margin-top: 10em;
	border-radius: 5em;
	background-color: #fff;
	box-shadow: 5px 10px 30px 8px rgba(0, 0, 0, 0.1);
}

.welcome img {
	max-width: 100%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.welcome ul {
	list-style: none;
	padding: 0;
}

.welcome li {
	margin: 10px 0;
	font-size: 16px;
	font-family: "Trebuchet MS", sans-serif;
}
.welcome li h2 {
	margin: 0;
	margin-bottom: 50px;
	font: 400 50px Orelega One, sans-serif;
}
.welcome button {
	background-color: #011b33;
	color: white;
	padding: 15px 120px;
	font-size: 18px;
	border: none;
	margin-top: 1.5em;
	border-radius: 5px;
	cursor: pointer;
}

/* ///////////////////   /////////////// */
.dep {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 65vh;
	text-align: center;
	margin: 0 38em;
	margin-top: 10em;
	border-radius: 5em;
	background-color: #fff;
	box-shadow: 5px 10px 30px 8px rgba(0, 0, 0, 0.1);
}
.dep h2 {
	margin: 0;
	margin-bottom: 50px;
	font: 400 30px Orelega One, sans-serif;
}
.dep .inputs {
	padding-left: 6em;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.dep .inputs h4 {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 100;
	font-size: 18px;
	margin: 10px 0;
}
.dep input {
	width: 65%;
	font-size: 16px;
	padding: 12px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-left: 10px;
}
.dep .buttons {
	display: flex;
	justify-content: space-between;
}
.dep button {
	background-color: #011b33;
	color: white;
	padding: 12px 20px;
	font-size: 18px;
	border: none;
	margin-top: 1.5em;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dep a {
	margin-left: 21em;
	margin-top: 50px;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

/* ////////////////////////////      /////////////////// */
.category {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 65vh;
	text-align: center;
	margin: 0 38em;
	margin-top: 10em;
	border-radius: 5em;
	background-color: #fff;
	box-shadow: 5px 10px 30px 8px rgba(0, 0, 0, 0.1);
}
.category h2 {
	margin: 0;
	margin-bottom: 50px;
	font: 400 30px Orelega One, sans-serif;
}
.category .inputs {
	padding-left: 6em;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.category .inputs h4 {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 100;
	font-size: 18px;
	margin: 10px 0;
}
.category input {
	width: 65%;
	font-size: 16px;
	padding: 12px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-left: 10px;
}
.category .buttons {
	display: flex;
	justify-content: space-between;
}
.category button {
	background-color: #011b33;
	color: white;
	padding: 12px 20px;
	font-size: 18px;
	border: none;
	margin-top: 1.5em;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.category a {
	margin-left: 21em;
	margin-top: 50px;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

/* ////////////   admin dashboard   /////////////// */
.admin-dashboard {
	display: flex;
}
.side-bar {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-top: 5em;
	border-right: 0.14em solid rgb(221, 221, 221);
}
.side-bar .parent {
	display: flex;
	align-items: center;
	font-size: 18px;
	padding-left: 2em;
}
.side-bar .parent.selected {
	background-color: rgb(218, 239, 247);
	color: rgb(99, 99, 99);
}
.admin-dashboard .content {
	flex: 7;
	border-right: 0.14em solid rgb(221, 221, 221);
}
.frame {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 4em;
	border-bottom: 0.14em rgb(216, 216, 216) solid;
}
.frame .search {
	background-color: rgb(230, 230, 230);
	display: flex;
	justify-content: space-between;
	width: 35em;
	border-radius: 25px;
	padding: 10px 20px;
}
.frame .search input {
	border: none;
	background-color: transparent;
	font-size: 18px;
	margin-left: -14em;
}
.frame .search input::placeholder {
	color: rgb(168, 168, 168);
}
.frame span {
	display: flex;
	align-items: center;
}
.frame span h2 {
	font-size: 20px;
	text-align: start;
	font-weight: 100;
	width: 5em;
}
.admin-dashboard .content .body {
	padding: 0 0 0 80px;
}
.admin-dashboard .content .body a {
	text-decoration: none;
	color: black;
}
.admin-dashboard .content .body .categ h3 {
	font: 100 20px Orelega One, sans-serif;
}
.admin-dashboard .content .body .categ .each {
	display: flex;
	padding-left: 20px;
}
.admin-dashboard .content .body .categ .each .listed {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	padding: 0.6em 1.2em;
	font-size: 16px;
	margin: 0em 2em;
}
.admin-dashboard .content .body .categ .each .listed h2 {
	font: 400 20px Orelega One, sans-serif;
	margin: 0;
}
.admin-dashboard .right-bar {
	flex: 1.5;
	padding: 10px 25px;
}
.admin-dashboard .right-bar h3 {
	font: 100 18px Arial, sans-serif;
	padding: 1em 0 0 2em;
}
.admin-dashboard .right-bar .child {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	height: 40vh;
}
.admin-dashboard .right-bar .child .context {
	display: flex;
	align-items: center;
}
.admin-dashboard .right-bar .maintenance {
	padding: 10px 20px;
	height: 50vh;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.admin-dashboard .right-bar .maintenance h3 {
	margin-bottom: 2em;
}
.pending {
	position: relative;
	padding-left: 20px;
}
.pending::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background-color: rgba(255, 0, 0, 0.568);
	display: inline-block;
}
.resolved {
	position: relative;
	padding-left: 20px;
}

.resolved::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background-color: rgba(0, 0, 255, 0.623);
	display: inline-block;
}

/* //////////////////  generate report /////////////// */
.report {
	display: flex;
}
.report .side-bar {
	flex: 1;
}
.report .content {
	flex: 7;
}
.report .frame {
	padding: 10px 4em;
}
.report .body {
}
